@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:cornsilk;
}

section {
    padding: 28px 8%;
    justify-content: space-between;
}

.btn_default {
    border: none;
    display: flex;
    align-items: center;
    background-color: rgb(250, 114, 114);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;

    cursor: pointer;
    transition: background-color .3s ease;
}

.btn_default:hover {
    background-color: rgb(164, 52, 52);
}

#phone_no_under{
    text-decoration: none;
}

.social_media_buttons {
    display: flex;
    gap: 18px;
}

.social_media_buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: rgb(250, 114, 114);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    transition: background-color .3s ease;
}

.social_media_buttons a:hover {
    background-color: rgb(164, 52, 52);
}

.section-title {
    color: red;
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
}



